{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <p>{{ message }}</p>
        {% if  user_exists  == true %}
        <p>Username: {{ user_name }}</p>
        <p>Email: {{ email }}</p>
        <p>Role: {{ role }}</p>
        <p>Last logged in: </p>
        <form action = "{{ action }}" method="post">
            <button name='user_id' value="{{ user_id }}">Delete user</button>
        </form>
        {% endif%}
    <div id = "link">
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
    </div>
{% endblock %}