{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <form action="{{ action }}" method="{{ method }}">
            <fieldset>
                <legend>{{ page_title }}</legend>
                <label for="username">"username:"</label>
                <input id="username" type="text" value="" name ='username' size="10" maxlength="50" placeholder="user1">
                <br><br>
                <label for="password">"password:"</label>
                <input id="password" type="password" value="" name="password" size="10" maxlength="50" placeholder="password">
                <br><br>
                <label for="deviceMsisdn">"Msisdn:"</label>
                <input id="deviceMsisdn" type="text" name="deviceMsisdn" value="" size="10" maxlength="50" placeholder="1111111111">
                <br>
                <p>Switch 1:</p>
                <label for="on"><input id="on" type="radio" name="switch1detail" value="on" checked>On</label>
                <label for="off"><input id="off" type="radio" name="switch1detail" value="off">Off</label>
                <br>
                <p>Switch 2:</p>
                <label for="on2"><input id="on2" type="radio" name="switch2detail" value="on" checked>On</label>
                <label for="off2"><input id="off2" type="radio" name="switch2detail" value="off">Off</label>
                <br>
                <p>Switch 3:</p>
                <label for="on3"><input id="on3" type="radio" name="switch3detail" value="on" checked>On</label>
                <label for="off3"><input id="off3" type="radio" name="switch3detail" value="off">Off</label>
                <br>
                <p>Switch 4:</p>
                <label for="on4"><input id="on4" type="radio" name="switch4detail" value="on" checked>On</label>
                <label for="off4"><input id="off4" type="radio" name="switch4detail" value="off">Off</label>
                <br>
                <p>Fan settings:</p>
                <label for="forward"><input id="forward" type="radio" name="fandetail" value="forward" checked>Forward</label>
                <label for="reverse"><input id="reverse" type="radio" name="fandetail" value="reverse">Reverse</label>
                <br><br>
                <label for="temperature">"Heater temperature: (0-80)"</label>
                <input id="temperature" type="number" name="temperature" placeholder="80">
                <br><br>
                <label for="keypad">"Keypad:"</label>
                <input id="keypad" type="text" name="keypad" value="" size="10" maxlength="50" placeholder="111">
                <br><br>
                <input type="submit" value="Send">
            </fieldset>
        </form>
    <div id = "link">
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
    </div>
{% endblock %}